<form class="pure-form pure-form-stacked" action="/generate" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" class="pure-input-1" placeholder="Your first name..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" class="pure-input-1" placeholder="Your last name..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="birthdate">Birth Date</label>
            <input type="date" id="birthdate" name="birthdate" class="pure-input-1" placeholder="Your birth date..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="birthplace">Birth Place</label>
            <input type="text" id="birthplace" name="birthplace" class="pure-input-1" placeholder="Your birth place..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="personaladdress">Personal Address</label>
            <input type="text" id="personaladdress" name="personaladdress" class="pure-input-1" placeholder="Your personal address..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="worksubject">Reasons for Traveling</label>
            <input type="text" id="worksubject" name="worksubject" class="pure-input-1" placeholder="Your reason..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="workaddress">Work Address</label>
            <input type="text" id="workaddress" name="workaddress" class="pure-input-1" placeholder="Your work address..." required/>
        </div>
        <div class="pure-control-group mt-1">
            <label for="meanstransport">Means of Transport</label>
            <input type="text" id="meanstransport" name="meanstransport" class="pure-input-1" placeholder="Your means of transport..." required/>
        </div>
        <div class="pure-controls mt-1">
            <button type="submit" class="pure-button pure-button-primary">Generate Certificate</button>
        </div>
    </fieldset>
</form>